body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e8d6eb;
}
h1{
    text-align: center;
}
.Calculator{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: #665151;
    width: 400px;
    height: 500px;
    flex-wrap: wrap;
    border: 2px solid black;
}
.firstRow{
    display: flex;
    background-color: rgb(107, 71, 18);
    width: 73%;
    align-items: center;
}
#clear{
    /* flex-basis: 100%; */
    align-self: center;
    width: 80%;
    background-color: #608596;
}
button{
    width: 70px;
    height: 70px;
    font-size: large;
    align-self: center;
    flex-grow: 1;
    
}
#display{
    background-color: #979393;
    align-self: center;
    text-align: center;
    font-size: 24px;
    border: 2px solid black;
    width: 80%;
    margin-bottom: 10px;
}
.operator{
    background-color: #97566f;
}